

.cartaz{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
}

.poster1{
    width: 129px;
    height: 193px;
}

.borda{
    background-color: rgb(228, 204, 204);
    width: 145px;
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 27px;
}